/* Custom navbar styles - using more specific selectors to override Bootstrap */
.page-container .navbar {
  /* border: 1px solid #000;
    background-color: gray; */
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 70px;
  transition: background-color 0.3s ease-in-out;
  color: white;
  z-index: 1000;
  font-family: "Splash", cursive;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.page-container .navbar-brand {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: "Splash", cursive;
}

.page-container .navbar-brand a {
  color: white;
  text-decoration: none;
}

.page-container .navbar-brand.scrolled a {
  font-weight: 900;
  font-size: 1.5rem;
  color: #1a202c;
}

.page-container .navbar .navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.page-container .navbar .navbar-menu ul li a {
  font-weight: 700;
  color: white;
  font-family: "Splash", cursive;
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.page-container .navbar .navbar-menu ul li a:hover {
  color: rgb(42, 42, 42);
  background: none;
  border: none;
}

.page-container .navbar .navbar-menu ul li a.scrolled {
  font-weight: 700;
  color: #1a202c;
}

.page-container .navbar .navbar-menu ul li a.scrolled:hover {
  font-weight: 700;
  color: lightgray;
}

.page-container .navbar.scrolled {
  background-color: white; /* Adjust the color as needed */
  color: #1a202c;
}
